<mat-toolbar color="primary" class="p-4">
  <div class="flex justify-between items-center w-full">
    <span class="text-xl font-bold">
      Bienvenido, <span class="text-blue-500">Sistema Calzado San Carlo</span>
    </span>

    <button mat-icon-button *ngIf="isSmallScreen" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <nav *ngIf="!isSmallScreen" class="flex">
      <ul class="flex space-x-6 items-center">
        <li>
          <button mat-button color="accent" (click)="optTablero()">Dashboard</button>
        </li>
        <li *ngIf="isAdmin()">
          <button mat-button color="accent" (click)="optCategorias()">Categorías</button>
        </li>
        <li *ngIf="isAdmin()">
          <button mat-button color="accent" (click)="optProductos()">Productos</button>
        </li>
        <li>
          <button mat-button color="warn" (click)="salir()">Salir</button>
        </li>
      </ul>
    </nav>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="optTablero()">Dashboard</button>
  <button mat-menu-item *ngIf="isAdmin()" (click)="optCategorias()">Categorías</button>
  <button mat-menu-item *ngIf="isAdmin()" (click)="optProductos()">Productos</button>
  <button mat-menu-item color="warn" (click)="salir()">Salir</button>
</mat-menu>
