<div class="container mx-auto p-6 bg-gray-50 shadow-md rounded-lg">

  <div *ngIf="cargando" class="flex items-center justify-center mb-4">
    <mat-progress-spinner mode="indeterminate" color="primary" diameter="40">
    </mat-progress-spinner>
  </div>

  <h2 class="text-2xl font-bold text-gray-800 mb-4">{{ titulo }}</h2>

  <button
    mat-flat-button
    routerLink="{{ rutaCrear }}"
    class="bg-blue-600 text-white font-semibold px-4 py-2 rounded hover:bg-blue-800 transition duration-200"
  >
    Crear nuevo
  </button>

  <app-listado-generico [listado]="entidades">
    <ng-container contenido>
      <table
        mat-table
        [dataSource]="entidades"
        class="mat-elevation-z8 indice-elementos"
      >
        <ng-container *ngFor="let columna of columnasAMostrar">
          <ng-container *ngIf="columna === 'acciones'; else checkEstado">
            <ng-container matColumnDef="acciones">
              <th
                mat-header-cell
                *matHeaderCellDef
                class="bg-gray-200 text-center px-4 py-2 font-semibold"
              >
                Acciones
              </th>
              <td
                class="px-4 py-2 border-b border-gray-300"
                mat-cell
                *matCellDef="let elemento"
              >
                <a
                  routerLink="{{
                    rutaEditar + '/' + elemento[campoID]
                  }}"
                  mat-icon-button
                >
                  <mat-icon color="primary">edit</mat-icon>
                </a>
                <button
                  mat-icon-button
                  color="warn"
                  class="ml-2"
                  aria-label="Bloquear"
                  (click)="openConfirmDialog(elemento[campoID])"
                >
                  <mat-icon>block</mat-icon>
                </button>
                
                <a *ngIf="columnasAMostrar.includes('imagenid')"
                  routerLink="{{
                    rutaEditar + '/' + elemento[campoID]
                  }}"
                  mat-icon-button>
                  <mat-icon color="primary">image</mat-icon>
                </a>
              </td>
            </ng-container>
          </ng-container>

          <ng-template #checkEstado>
            <ng-container
              *ngIf="columna === 'estado'; else categoriaDescripcion"
            >
              <ng-container matColumnDef="estado">
                <th
                  class="bg-gray-200 text-center px-4 py-2 font-semibold"
                  mat-header-cell
                  *matHeaderCellDef
                >
                  Estado
                </th>
                <td
                  class="px-4 py-2 border-b border-gray-300"
                  mat-cell
                  *matCellDef="let elemento"
                >
                  <ng-container *ngIf="elemento[columna] === 'A'"
                    >Activo</ng-container
                  >
                  <ng-container *ngIf="elemento[columna] === 'I'"
                    >Inactivo</ng-container
                  >
                  <ng-container *ngIf="elemento[columna] === 'B'"
                    >Bloqueado</ng-container
                  >
                </td>
              </ng-container>
            </ng-container>
          </ng-template>

          <ng-template #categoriaDescripcion>
            <ng-container
              *ngIf="columna === 'categoriaDescripcion'; else imagenid"
            >
              <ng-container matColumnDef="categoriaDescripcion">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  class="bg-gray-200 text-center px-4 py-2 font-semibold"
                >
                  Categoría
                </th>
                <td
                  class="px-4 py-2 border-b border-gray-300"
                  mat-cell
                  *matCellDef="let elemento"
                >
                  {{
                    primeraLetraEnMayuscula(elemento.categoria?.descripcion) ||
                      "Sin categoría"
                  }}
                </td>
              </ng-container>
            </ng-container>
          </ng-template>

          <ng-template #imagenid>
            <ng-container *ngIf="columna === 'imagenid'; else defaultColumn">
              <ng-container matColumnDef="imagenid">
                <th
                  class="bg-gray-200 text-center px-4 py-2 font-semibold"
                  mat-header-cell
                  *matHeaderCellDef
                >
                  Imagen
                </th>
                <td
                  class="px-4 py-2 border-b border-gray-300"
                  mat-cell
                  *matCellDef="let elemento"
                >
                  {{ elemento[columna] > 0 ? 'Si' : 'No' }}
                </td>
              </ng-container>
            </ng-container>
          </ng-template>

          <ng-template #defaultColumn>
            <ng-container matColumnDef="{{ columna }}">
              <th
                class="bg-gray-200 text-center px-4 py-2 font-semibold"
                mat-header-cell
                *matHeaderCellDef
              >
                {{ primeraLetraEnMayuscula(columna) }}
              </th>
              <td
                class="px-4 py-2 border-b border-gray-300"
                mat-cell
                *matCellDef="let elemento"
              >
                {{ primeraLetraEnMayuscula(elemento[columna]) }}
              </td>
            </ng-container>
          </ng-template>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: columnasAMostrar"
          class="odd:bg-gray-100 even:bg-gray-200 hover:bg-blue-50 cursor-pointer"
        ></tr>
      </table>

      <mat-paginator
        showFirstLastButtons
        [length]="cantidadTotalRegistros"
        [pageIndex]="paginacion.PageNumber - 1"
        [pageSize]="paginacion.PageSize"
        [pageSizeOptions]="[5, 10, 50]"
        class="mat-elevation-z8"
        (page)="actualizarPaginacion($event)"
      ></mat-paginator>
    </ng-container>
  </app-listado-generico>
</div>
